api-data-ach-ino/node_modules/
api-data-web-viz/node_modules/
api-data-web-viz/DOCUMENTOS_DE_APOIO/exemplo_de_upload_de_arquivo/node_modules/

todo-list-app/node_modules

test/node_modules

node_modules